body {
    margin:0;
}
#grid #article{
    padding-left: 25px;
}
#grid {
    display : grid;
    grid-template-columns: 150px 1fr;
}
a {
    color:black;
    text-decoration: none;
}
ol {
    border-right: 2.5px rgb(187, 184, 184) solid;
    margin: 0%;
    width: 100px;
    padding: 20px;
}
h1 {
    border-bottom: 2.5px rgb(187, 184, 184) solid;
    margin: 0%;
    padding-bottom: 20px;
    font-size:45px;
    text-align:center;
}
@media(max-width:800px){
    #grid {
        display: block;
    }
    ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}